/* From Uiverse.io by vinodjangid07 */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: #ff5f5f;
  cursor: pointer;
  border: 3px solid #ffc9c9;
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 15px;
}
.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: #ff0000;
}
.bin-button:active {
  transform: scale(0.9);
}
