.loginPage {
  width: 100%;
  height: 100vh;
  background: url('../../assets/imgs/lake.jpg') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arima", system-ui;
}
.loginPage .container {
  width: 85vw;
  height: 85vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  backdrop-filter: blur(8px);
  overflow: hidden;
}
.loginPage .container .content {
  padding: 0 25px;
  display: flex;
  align-items: center;
  height: 100%;
}
.loginPage .container .content .mainLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  flex: 1.2;
}
.loginPage .container .content .mainLeft h1 {
  font-size: 7rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: 15px;
  margin-top: 60px;
}
.loginPage .container .content .mainLeft h1 .colorChg {
  color: #00ffff;
}
.loginPage .container .content .mainLeft .formCard {
  margin-top: 20px;
  width: 60%;
  border-radius: 0 0 6px 6px;
  margin-bottom: 30px;
}
.loginPage .container .content .mainLeft .formCard .loginInfoCheck {
  display: flex;
  justify-content: space-between;
}
.loginPage .container .content .mainLeft .formCard .loginInfoCheck .checkPwd {
  color: #fff;
}
.loginPage .container .content .mainLeft .formCard .loginInfoCheck .forgetPwd {
  cursor: pointer;
  color: #fff;
}
.loginPage .container .content .mainLeft .formCard .loginInfoCheck .forgetPwd:hover {
  color: #00ffff;
}
.loginPage .container .content .mainLeft .formCard .loginInput {
  outline: none;
  background: transparent;
  border: none;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  color: #fff;
  padding: 15px 20px;
}
.loginPage .container .content .mainLeft .formCard :global .my-template-umi-ant-checkbox-inner {
  background: transparent;
}
.loginPage .container .content .mainLeft .formCard .submitItem {
  width: 100%;
  background: #00ffff;
  border-radius: 5px;
  padding: 20px;
}
.loginPage .container .content .mainRight {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginPage .container .content .mainRight img {
  width: 90%;
  animation: rotatePlanet 120s linear infinite;
  filter: drop-shadow(0 0 10px #00ffff) drop-shadow(0 0 20px #00ffff) drop-shadow(0 0 40px #00ffff) drop-shadow(0 0 100px #00ffff);
}
@keyframes rotatePlanet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
