.drawer-con {
  padding: 0 5px 30px;
}
.drawer-con .title {
  position: relative;
  font-size: 14px;
  color: var(--art-text-gray-800);
  text-align: center;
}
.drawer-con .title:first-of-type {
  margin-top: 20px;
}
.drawer-con .title::before,
.drawer-con .title::after {
  position: absolute;
  top: 10px;
  width: 50px;
  margin: auto;
  content: '';
  border-bottom: 1px solid rgba(var(--art-gray-300-rgb), 0.8);
}
.drawer-con .title::before {
  left: 0;
}
.drawer-con .title::after {
  right: 0;
}
.drawer-con .theme-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.drawer-con .theme-wrap .theme-item {
  box-sizing: border-box;
  width: 70px;
  margin-right: 15px;
}
.drawer-con .theme-wrap .theme-item .box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid var(--art-gray-100);
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s;
}
.drawer-con .theme-wrap .theme-item .box > div {
  position: relative;
  width: 50%;
  height: 100%;
}
.drawer-con .theme-wrap .theme-item .box > div:first-of-type > div {
  width: 15px;
  height: 2px;
  margin: 5px 0 0 10px;
}
.drawer-con .theme-wrap .theme-item .box > div:first-of-type > div.line0 {
  margin-top: 13px;
}
.drawer-con .theme-wrap .theme-item .box > div:first-of-type > div.line1 {
  width: 10px;
}
.drawer-con .theme-wrap .theme-item .box > div:first-of-type > div.line2 {
  width: 13px;
}
.drawer-con .theme-wrap .theme-item .box > div:last-of-type > div {
  height: 5px;
  margin: 6px 0 0 5px;
}
.drawer-con .theme-wrap .theme-item .box > div:last-of-type > div.line0 {
  width: calc(100% - 15px);
  margin-top: 12px;
}
.drawer-con .theme-wrap .theme-item .box > div:last-of-type > div.line1 {
  width: calc(50% - 5px);
}
.drawer-con .theme-wrap .theme-item .box > div:last-of-type > div.line2 {
  width: calc(52%);
}
.drawer-con .theme-wrap .theme-item .box.is-active {
  border: 2px solid var(--main-color);
}
.drawer-con .theme-wrap .theme-item .name {
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
}
.drawer-con .theme-wrap .theme-item .active {
  position: relative;
  right: 0;
  bottom: -5px;
  left: 0;
  width: 6px;
  height: 6px;
  margin: auto;
  background: var(--art-success) !important;
  border-radius: 50%;
}
.drawer-con .theme-wrap .theme-item:last-of-type {
  margin-right: 0;
}
.my-drawer {
  background: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px);
}
.dark .my-drawer {
  background: rgba(0, 0, 0, 0.9) !important;
  color: #fff !important;
  backdrop-filter: blur(5px);
}
.dark .ant-drawer-close {
  color: #fff;
}
.dark .ant-drawer-close:hover {
  color: #fff;
  background: transparent !important;
}
