.drawer-con {
    padding: 0 5px 30px;

    .title {
        position: relative;
        font-size: 14px;
        color: var(--art-text-gray-800);
        text-align: center;

        &:first-of-type {
            margin-top: 20px;
        }

        &::before,
        &::after {
            position: absolute;
            top: 10px;
            width: 50px;
            margin: auto;
            content: '';
            border-bottom: 1px solid rgba(var(--art-gray-300-rgb), 0.8);
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    .theme-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;

        .theme-item {
            box-sizing: border-box;
            width: 70px;
            margin-right: 15px;

            .box {
                position: relative;
                box-sizing: border-box;
                display: flex;
                height: 50px;
                overflow: hidden;
                cursor: pointer;
                border: 2px solid var(--art-gray-100);
                border-radius: 6px;
                box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
                transition: box-shadow 0.1s;

                >div {
                    position: relative;
                    width: 50%;
                    height: 100%;
                }

                // 第一个div
                >div:first-of-type {
                    >div {
                        width: 15px;
                        height: 2px;
                        margin: 5px 0 0 10px;
                    }

                    >div.line0 {
                        margin-top: 13px;
                    }

                    >div.line1 {
                        width: 10px;
                    }

                    >div.line2 {
                        width: 13px;
                    }
                }

                // 第二个div
                >div:last-of-type {
                    >div {
                        height: 5px;
                        margin: 6px 0 0 5px;

                    }

                    >div.line0 {
                        width: calc(100% - 15px);
                        margin-top: 12px;
                    }

                    >div.line1 {
                        width: calc(50% - 5px);
                    }

                    >div.line2 {
                        width: calc(52%);
                    }
                }
            }

            .box.is-active {
                border: 2px solid var(--main-color);
            }

            .name {
                margin-top: 6px;
                font-size: 14px;
                text-align: center;
            }

            .active {
                position: relative;
                right: 0;
                bottom: -5px;
                left: 0;
                width: 6px;
                height: 6px;
                margin: auto;
                background: var(--art-success) !important;
                border-radius: 50%;
            }

        }

        .theme-item:last-of-type {
            margin-right: 0;
        }
    }
}


// .dark {
//     .drawer-con {
//         .box-style {
//             .button {
//                 &.is-active {
//                     color: #fff !important;
//                     background-color: rgba(var(--art-gray-400-rgb), 0.7);
//                 }

//                 &:hover:not(.is-active) {
//                     background-color: rgba($color: #000, $alpha: 20%);
//                 }
//             }
//         }
//     }
// }
.my-drawer {
    // 背景滤镜
    background: rgba(#fff, 90%) !important;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%) !important;
    backdrop-filter: blur(5px);
}

.dark {
    .my-drawer {
        background: rgba(#000, 90%) !important;
        color: #fff !important;
        backdrop-filter: blur(5px);
    }

    .ant-drawer-close {
        color: #fff;
    }

    .ant-drawer-close:hover {
        color: #fff;
        background: transparent !important;
    }
}
