.allEditorInfo {
  display: flex;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
.allEditorInfo .content-editor {
  scroll-snap-type: y mandatory;
}
.allEditorInfo .catalogue {
  width: 200px;
  height: 100%;
  margin-left: 12px;
}
.allEditorInfo .catalogue .table-of-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}
.allEditorInfo .catalogue .table-of-contents {
  list-style: none;
  padding: 0;
  margin: 0;
}
.allEditorInfo .catalogue .table-of-contents li {
  overflow: hidden;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowarp;
  display: block;
  margin: 4px 0;
}
.allEditorInfo .catalogue .table-of-contents li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 4px 0;
  transition: all 0.3s;
}
.allEditorInfo .catalogue .table-of-contents li a:hover {
  color: #1890ff;
}
.allEditorInfo .catalogue .table-of-contents li a.active {
  color: #1890ff;
  font-weight: bold;
}
.allEditorInfo .catalogue .table-of-contents li a .beyond-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 180px;
}
.allEditorInfo .catalogue .table-of-contents li:hover {
  color: #95c92c;
  background: #e8f6ff;
}
.allEditorInfo .catalogue .table-of-contents .line-anchor {
  display: flex;
  position: relative;
  align-items: center;
  margin: 6px 0;
}
.allEditorInfo .catalogue .table-of-contents .line-anchor-a {
  position: absolute;
  left: 0;
  border-left: 5px solid #95c92c;
  height: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.allEditorInfo .catalogue .table-of-contents .highlight {
  font-weight: bold;
  color: #95c92c;
}
@media screen and (max-width: 900px) {
  .catalogue {
    display: none !important;
    /* 添加 !important 以确保覆盖其他样式 */
  }
}
.toobar-editor {
  position: sticky;
  top: 0;
  z-index: 10000;
}
.title-editor {
  position: relative;
  width: 100%;
  font-size: 34px;
  min-height: 50px;
  line-height: 50px;
  font-weight: 600;
  word-break: break-all;
  letter-spacing: 0;
}
.title-editor .textareaTitle {
  padding: 8px 12px;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  border: none;
  outline: none;
  resize: none;
  font-size: 34px;
  line-height: 50px;
  min-height: 50px;
  font-weight: 600;
}
.title-editor .textareaTitle:focus {
  border: none;
  outline: none;
  box-shadow: none;
  border-color: none;
}
.right-section {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
}
.right-section .upload-btn {
  width: 200;
  display: flex;
  justify-content: flex-end;
}
#typing {
  font: bold 200% Consolas, Monaco, monospace;
  border-right: 0.1em solid;
  width: 16.5em;
  width: 26ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(26, end), cursor-blink 0.3s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes cursor-blink {
  50% {
    border-color: transparent;
  }
}
