.console {
  padding-bottom: 15px;
}
.console .region,
.console .dynamic {
  background: var(--art-main-bg-color);
  border-radius: 16px;
  border: 1px solid rgba(var(--art-gray-300-rgb), 0.6) !important;
}
.console .column {
  display: flex;
  justify-content: space-between;
  margin-top: var(--console-margin);
  background-color: transparent !important;
}
.console .rightTodo {
  display: flex;
  justify-content: space-between;
  margin-top: var(--console-margin);
}
.cardDash {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--console-margin));
  margin-left: calc(0px - var(--console-margin));
  margin-bottom: 20px;
  background-color: transparent !important;
}
.cardDash .console-box-2 {
  border: 1px solid rgba(var(--art-gray-300-rgb), 0.6) !important;
}
.cardDash li {
  position: relative;
  box-sizing: border-box;
  width: calc(25% - var(--console-margin));
  height: 90px;
  padding: 0 18px;
  margin: 0 0 0 var(--console-margin);
  background: var(--art-main-bg-color);
  border-radius: 14px;
}
.cardDash li .iconfont {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 46px;
  height: 46px;
  margin: auto;
  overflow: hidden;
  font-size: 20px;
  line-height: 46px;
  color: #fff !important;
  text-align: center;
  border-radius: 12px;
}
.cardDash li .des {
  display: block;
  height: 14px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}
.cardDash li > div {
  display: flex;
  align-items: center;
}
.cardDash li > div .number {
  display: block;
  margin-top: 5px;
  font-size: 28px;
  font-weight: 400;
}
.cardDash li > div .change {
  display: block;
  margin: 13px 0 0 10px;
  font-size: 13px;
  font-weight: bold;
}
.others {
  box-sizing: border-box;
  width: 42%;
  height: 420px;
  padding: 16px;
  background: var(--art-main-bg-color);
  border-radius: 16px;
  border: 1px solid rgba(var(--art-gray-300-rgb), 0.6) !important;
}
@media screen and (max-width: 800px) {
  .cardDash li {
    width: calc(50% - var(--console-margin));
    margin-bottom: var(--console-margin);
  }
  .rightTodo {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
