.tempMail {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.name {
    position: relative;
    right: 0;
    top: -25px;
}

.active {
    position: relative;
    right: 0;
    top: -15px;
    left: 0;
    width: 6px;
    height: 6px;
    margin: auto;
    // background: var(--main-color) !important;
    border-radius: 50%;
}
