 .back-to-top {
     position: fixed;
     right: 40px;
     bottom: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 38px;
     height: 38px;
     color: var(--art-gray-700);
     text-align: center;
     cursor: pointer;
     border: 1px solid #ccc;
     border-radius: 6px;

     p {
         margin-top: 2px;
         font-size: 10px;
         line-height: 1;
     }
 }
