.personInfoShow {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;

    .middleContent {
        width: calc(100% - 560px);
        // background: yellow;
        background: var(--art-task-bg-color);
        margin-left: 12px;
        border-radius: 12px;
        position: relative;
        padding: 10px;

        .workInfo {
            // color: #fff;
            display: flex;
            flex-direction: column;
            width: calc(100% - 280px);
        }
    }
}
