  .dark {
      .region-activeUser {
          .chart {
              background: none;
          }
      }
  }

  .region-activeUser {
      box-sizing: border-box;
      width: 100%;
      height: 420px;
      padding: 16px;
      background: var(--art-main-bg-color);
      border-radius: 16px;
      border: 1px solid rgba(var(--art-gray-300-rgb), .6) !important;

      // 主标题
      .box-title {
          color: var(--art-gray-900) !important;
      }

      // 副标题
      .subtitle {
          color: var(--art-gray-600) !important;
      }

      .chart {
          box-sizing: border-box;
          width: 100%;
          height: 220px;
          padding: 20px 0 20px 20px;
          // 跟随系统主色
          background-image: linear-gradient(90deg,
                  var(--antd-color-primary-light-1),
                  var(--antd-color-primary-light-3),
                  var(--antd-color-primary-light-1));
          border-radius: 8px;
      }

      .text {
          margin-left: 3px;

          h3 {
              margin-top: 20px;
              font-size: 18px;
              font-weight: 500;
          }

          p {
              margin-top: 5px;
              font-size: 14px;

              span {
                  color: rgb(82 196 26) !important;
              }

              &:last-of-type {
                  height: 42px;
                  margin-top: 5px;
              }
          }
      }

      .list {
          display: flex;
          justify-content: space-between;
          margin-left: 3px;

          >div {
              flex: 1;

              p {
                  font-weight: 400;

                  &:first-of-type {
                      font-size: 24px;
                      color: var(--art-gray-900);
                  }

                  &:last-of-type {
                      font-size: 13px;
                  }
              }
          }
      }
  }
