.region {
  box-sizing: border-box;
  width: calc(58% - var(--console-margin));
  height: 420px;
  padding: 20px 0 30px;
}
.region .cardHeader {
  padding: 0 18px !important;
}
.region .chart {
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 30px;
  background: red;
}
