.region {
    display: flex;
    flex-direction: column;
    background: var(--art-main-bg-color);
    border-radius: 16px;
    box-sizing: border-box;
    width: 100%;
    height: 420px;
    margin: 0 16px 20px 0;
    border: 1px solid rgba(var(--art-gray-300-rgb), .6) !important;

    .chart {
        box-sizing: border-box;
        width: 100%;
        height: 220px;
        padding: 20px 0 20px 20px;
        // 跟随系统主色
        background-image: linear-gradient(90deg,
                var(--art-primary-active),
                var(--art-primary-active),
                var(--art-primary-active));
        border-radius: 8px;
    }
}
