 .waterfall {
     display: grid;
     //  padding: 20px;
     grid-gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     grid-auto-rows: 270px;
     grid-auto-flow: dense;

     img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         vertical-align: middle;
         display: inline-block;
         //  border-radius: 12px;
     }

     span {
         position: absolute;
         top: -10px;
         left: 30px;
         text-shadow: -5px 0 rgb(0, 0, 0), 0 5px rgb(0, 0, 0), 5px 0 rgb(0, 0, 0), 0 -5px rgb(0, 0, 0);
     }

     .wide {
         grid-column: span 2;
     }

     .tall {
         grid-row: span 2;
     }

     .big {
         grid-column: span 2;
         grid-row: span 2;
     }
 }


 .waterfall>div {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(61, 51, 51);
     border-radius: 5px;
     color: rgb(255, 255, 255);
     font: 100 100px 'Kristen ITC';
     position: relative;
 }
