:root {
    // --person-info-color: #fbb9b6;
    --person-info-color: #35b4ed;
    // --hover-color: #f55d56;
    --hover-color: #0aa6ec;
}

.card-info-person {
    cursor: pointer;
    width: 280px;
    height: 280px;
    background: white;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
    margin-left: 12px;
}

.card-info-person .card-info-mail {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
}

.card-info-person .card-info-mail svg {
    stroke: var(--person-info-color);
    stroke-width: 3px;
}

.card-info-person .card-info-mail svg:hover {
    stroke: var(--hover-color);
}

.card-info-person .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid var(--person-info-color);
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card-info-person .profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
}

.card-info-person .profile-pic svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
}

.card-info-person .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: var(--person-info-color);
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card-info-person .bottom .card-info-content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
}

.card-info-person .bottom .card-info-content .name {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

.card-info-person .bottom .card-info-content .about-me {
    display: block;
    font-size: 0.9rem;
    color: white;
    margin-top: 1rem;
}

.card-info-person .bottom .bottom-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info-person .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
}

.card-info-person .bottom .bottom-bottom .social-links-container svg {
    height: 20px;
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.card-info-person .bottom .bottom-bottom .social-links-container svg:hover {
    fill: var(--hover-color);
    transform: scale(1.2);
}

.card-info-person .bottom .bottom-bottom .editInfo-button {
    background: white;
    color: var(--person-info-color);
    border: none;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card-info-person .bottom .bottom-bottom .editInfo-button:hover {
    background: var(--hover-color);
    color: white;
    cursor: pointer;
}

.card-info-person:hover {
    border-top-left-radius: 55px;
}

.card-info-person:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card-info-person:hover .profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 7px solid var(--person-info-color);
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card-info-person:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
}

.card-info-person:hover .profile-pic img {
    transform: scale(1);
    // -o-object-position: 0px 25px;
    // object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
}

.card-info-person:hover .profile-pic svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
}
