.animateCard {
    cursor: pointer;
    box-shadow: 0 0px 15px 3px #ccc;
    transition: 0.5s;
    position: relative;
    bottom: 0;
    // border: 1px solid #ccc;
    // gap: 10px;

    .bg {
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .technologyContent {
        display: flex;
        align-items: center;
        padding: 18px 12px;
        background: #fff;
        // border-top: 1px solid #ccc;

        .desc {
            // line-height: 50px;
            margin-top: 12px;
            max-width: calc((100vw - 100px - 24px)/4 - 140px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.animateCard:hover {
    bottom: 5px;
    box-shadow: 0 12px 15px 9px #ccc;
}

.websiteSharing {
    padding: 12px;
    // background: #6f00ff;
    background-image: url(@/assets/imgs/lake.jpg);
    background-size: cover;
    /* 确保图片覆盖整个元素 */
    background-attachment: fixed;
    /* 背景图片固定 */

    :global {
        .my-template-umi-ant-tabs-nav {
            position: sticky;
            top: 0;
            z-index: 9;
            // background: rgba(255, 255, 255, 0.1);
            // backdrop-filter: blur(10px);
            // background-image: url(@/assets/imgs/lake.jpg);
            background: #fff;
            padding-left: 12px;
        }
    }
}
