.fileUpload {
  display: flex;
  flex-direction: column;
}
.fileUpload .fileUploadContent {
  border: 1px dashed #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}
.fileUpload .fileUploadContent .clearImg {
  position: absolute;
  right: -6px;
  top: -10px;
}
.imgList {
  display: flex;
}
.imgList .imgCol {
  width: 100px;
  height: 100px;
}
.imgList .imgCol img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
