.fileUpload {
  display: flex;
}
.fileUpload .fileUploadContent {
  border: 1px dashed #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  font-size: 30px;
}
.imgList {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}
.imgList .imgCol:hover .clearImg {
  opacity: 1;
}
.imgList .imgCol {
  cursor: pointer;
  position: relative;
}
.imgList .imgCol .clearImg {
  position: absolute;
  right: 8px;
  top: 0px;
  font-size: 30px;
  cursor: pointer;
  color: red;
  opacity: 0;
  transition: opacity 0.3s;
}
.imgList .imgCol img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background: #ccc;
}
.imgList .imgCol .delectImg {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 30%;
  margin: 0 16px;
  background: rgba(0, 0, 0, 0.75);
}
