@import "./styles/variables.less";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  // background: url(@/assets/imgs/bg.png) center / cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// .my-template-umi-ant-menu-item-only-child {
//   .my-template-umi-ant-menu-title-content {
//     margin-left: 24px;
//   }
// }
// .my-template-umi-ant-menu-submenu {
//   .my-template-umi-ant-menu-title-content {
//     margin-left: 0px;
//   }
// }
/* ---滚动条默认显示样式-- */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(157, 165, 183, 0.5);
  background-clip: padding-box;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(157, 165, 183, 0.8);
  background-clip: border-box;
}

/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
  // background-color: #fff;
  -webkit-border-radius: 0;
}

.layout-padding {
  padding: 12px;
  height: 100%;
}

.layout-padding-white {
  padding: 12px;
  background: var(--art-main-bg-color);
  height: 100%;
}

// ✅ 盒子边框 ｜ 盒子阴影
[data-box-mode='border-mode'] {

  .page-content,
  .worktab .scroll-view .tabs li,
  .console-box,
  .console-box-2 {
    border: 1px solid rgba(var(--art-gray-300-rgb), 0.6) !important;
  }

  .my-template-umi-ant-layout-sider {
    border-right: 1px solid rgba(var(--art-gray-300-rgb), 0.6) !important;
  }

  .user-page-tabs {
    border-bottom: 1px solid rgba(var(--art-gray-300-rgb), 0.6) !important;
  }
}

[data-box-mode='shadow-mode'] {

  .page-content,
  .worktab .scroll-view .tabs li,
  .console-box,
  .console-box-2 {
    box-shadow: 0 4px 20px rgb(0 0 0 / 3%);
  }

  .my-template-umi-ant-layout-sider {
    border-right: none;
  }

  .user-page-tabs {
    border-bottom: none
  }
}
