 .setting-btn {
   cursor: pointer;
   width: 30px;
   height: 30px;
   line-height: 30px;
   display: flex;
   justify-content: center;
   transition: 1s;
   margin-left: 12px;
 }

 .setting-btn:hover {
   //  background: #ccc;

   span {
     animation: rotate180 0.5s;

   }
 }

 @keyframes rotate180 {
   0% {
     transform: rotate(0);
   }

   100% {
     transform: rotate(180deg);
   }
 }
