.setting-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  transition: 1s;
  margin-left: 12px;
}
.setting-btn:hover span {
  animation: rotate180 0.5s;
}
@keyframes rotate180 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
.btn {
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s;
}
.btn:hover {
  color: var(--art-primary);
  background-color: rgba(var(--art-gray-200-rgb), 0.7);
}
.notice-button {
  display: block;
  font-size: 19px;
}
.notice-button:hover {
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
.logo-title {
  display: flex;
  color: var(--art-gray-900) !important;
}
.logo-title div {
  font-size: 18px;
}
.logo-title[theme="dark"] {
  color: #fff;
  width: 100%;
}
.logo-title[theme="light"] {
  color: #000;
  width: 100%;
}
