.overlayImg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlayImg img {
  height: 80%;
  width: 60%;
  object-fit: contain;
}
.overlayImg .clearOverlayImg {
  position: absolute;
  right: 10px;
  top: 10px;
}
.overlayImg .switchImages {
  font-size: 30px;
  color: #000;
  background: #ccc;
  width: 50px;
  height: 50px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.overlayImg .clearOverlayGT {
  position: absolute;
  right: 10px;
  top: 50%;
}
.overlayImg .clearOverlayLT {
  position: absolute;
  left: 10px;
  top: 50%;
}
