// 图片查看器遮罩层
.overlayImg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    // 其子元素的布局
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        // z-index: 9999;
        height: 80%;
        width: 60%;
        object-fit: contain;
    }

    .clearOverlayImg {
        position: absolute;
        right: 10px;
        top: 10px;
        transition: transform 0.3s;
    }

    .clearOverlayImg:hover {
        transform: rotate(90deg);
    }

    .switchImages {
        font-size: 30px;
        color: #fff;
        background: rgba(159, 153, 153, 0.75);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .clearOverlayGT {
        position: absolute;
        right: 10px;
        top: 50%;

    }

    .clearOverlayLT {
        position: absolute;
        left: 10px;
        top: 50%;
    }
}
